__pycache__/
*.py[cod]
.DS_Store
experiments/
logs/
tb_logger/
results/
checkpoint/
*.pth
*.pt
*.ckpt
data/train/hr_512/
data/train/lr_64/
data/train/sr_64_512/
data/val/hr_512/
data/val/lr_64/
data/val/sr_64_512/
data/test/hr_512/
data/test/lr_64/
data/test/sr_64_512/
